.container_carosello {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.freccia_prev i,
.freccia_next i {
  font-size: 45px;
  cursor: pointer;
}

.img_carosello {
  height: 500px;
  width: 800px;
  margin: 0 30px;
}

.img_carosello img {
  height: 100%;
  width: 100%;
  object-fit: cover;
   transition: all 0.5s ease-in-out;
}

.bullet_carosello {
 display: flex;
 justify-content: center;
}

.bullet_carosello i {
  color: black;
  font-size: 25px;
  margin: 0 20px;
  cursor: pointer;
}

.bullet_carosello i.active {
  color: lightgrey;
}
